{% extends 'base.htm' %}

{% block titulo %} Personalize seu '{{ produto.de_nome }}' {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">

    <ul class="formulario"> 
        <h1 class="titulos">Como quer seu {{ produto.de_nome }}?</h1>   
        <li>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-sucess" value="Adicionar ao carrinho">
            </form>
        </li>
    </ul>

</div>


{% endblock %}
