{% extends 'base.htm' %}

{% block titulo %} Nomear Pedido {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">

    <ul class="formulario"> 
        <h1 class="titulos">Como você se chama?</h1>   
        <li>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-sucess" value="Confirmar">
            </form>
        </li>
    </ul>

</div>


{% endblock %}
