{% extends 'base.htm' %}

{% block titulo %} Finalizando Pedido {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">

    <ul class="formulario"> 
        <h1 class="titulos">Deseja receber em casa?</h1>   
        <li>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-sucess" value="Concluir">
            </form>
        </li>
    </ul>

</div>


{% endblock %}
