{% extends 'base.htm' %}

{% block titulo %} Editar '{{ produto.de_nome }}' {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">

    <ul class="formulario"> 
        <h1>Editar {{ produto.de_nome }}</h1>   
        <li>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-sucess" value="Editar Produto">
            </form>
        </li>
    </ul>

</div>


{% endblock %}
