{% extends 'base.htm' %}

{% block titulo %} Produtos {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">

        <div class="titulos">
            <h1>Adicione produtos ao carrinho</h1>
        </div>


    <ul class="produto-list">
        {% for produto in produtos %}
        <li class="produto-item">
            <span><a class="nomes" href="/produtos/{{produto.id}}">{{ produto.de_nome }}</a></span>
            <span></span>
            {% if user.is_authenticated %}
            <a href="/adicionarItem/{{ produto.id }}"><i class="fas fa-cart-arrow-down"></i></a>
            {% else %}
            <a href="/accounts/login"><i class="fas fa-cart-arrow-down"></i></a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}
