{% extends 'base.htm' %}

{% block titulo %} Produtos {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">
    <a id="add-link" href="/novoProduto/">
        <div class= "col-2 add-div">
            <i class= "fas fa-plus"></i>Adicionar Produto
        </div>
    </a>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite um produto">
        <i class="fas fa-search"></i>
    </div>
    <ul class="produto-list">
        {% for produto in produtos %}
        <li class="produto-item">
            <span><a class="nomes" href="/produtos/{{produto.id}}">{{ produto.de_nome }}</a></span>
            <span></span><a href="/deletarProduto/{{ produto.id }}"><i class="fas fa-trash"></i></a>
            <span></span> <a href="/editarProduto/{{ produto.id }}"><i class="fas fa-edit"></i></a>
        </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}
