{% extends 'base.htm' %}

{% block titulo %} Pedido nº '{{ pedido.id }}' {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">
    <div class="titulos">
        <h1>Seu Pedido</h1>
    </div>
    <ul class="produto-list">  
        {% for produto in produtos %}  
        <li class="produto-item">
            <span>{{ produto }}</span>
            <a href="/removerItem/{{ produto.id }}"><span><i class="fas fa-trash"></i></span></a>
        </li>
        {% endfor %}
        <li class="produto-item">
            <span>Valor Total</span>
            <span><i class="fas fa-dollar-sign">{{ preco }}</i></span>
        </li>
    </ul>
    <a id="add-link" href="/home/">
        <div class= "add-div">
            <i class= "fas fa-plus"></i>Mais Produtos
        </div>
    </a>
    <a id="add-link" href="/cancelarPedido/{{ pedido.id }}">
        <div class= "add-div">
            <i class= "fas fa-plus"></i>Cancelar Pedido
        </div>
    </a>
    <a id="add-link" href="/concluirPedido/{{ pedido.id }}">
        <div class= "add-div">
            <i class= "fas fa-plus"></i>Concluir Pedido
        </div>
    </a>
</div>


{% endblock %}
