{% extends 'base.htm' %}

{% block titulo %} Produtos {% endblock %}

{% block conteudo %}
<div class= "offset-1 col-10 list-div">

    <h1 class="titulos"> {{ produto.de_nome }} </h1>
    <ul class="produto-list">    
        <li class="produto-item">
            <span>{{ produto.de_nome }}</span>
        </li>
        <LI class="produto-item">
            <span> R$ {{ produto.nu_preco }}</span>
        </LI>
    </ul>

</div>


{% endblock %}
