{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}  {% endblock %} </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/37e42ce3c8.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light ">  
                <a class="navbar-brand" href="/home/">
                    <i class="fab fa-java"></i>
                </a>   
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/home/">
                            <i class="fas fa-home"></i>
                            <span class="nav-title">Home</span>
                        </a> 
                        
                    </li>      
                    <li>
                        <a class="navbar-brand" href="/meuPedido/">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="nav-title">Pedido</span>
                        </a>   
                    </li>
                </ul> 
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="/accounts/logout"><i class="fas fa-power-off"></i></a>  
            {% else %}
            <a class="navbar-brand" href="/accounts/login"><span class="nav-title">Entrar</span></a>  
            {% endif %}
        </nav>
        {% block conteudo %}{% endblock %}
        <footer>
            <p>Café Produtos</p>
        </footer>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>    
    <script src="{% static 'js/scripts.js' %}"></script> 
</body>
</html>