{% extends 'base.htm' %}

{% block titulo %}Login{% endblock %}

{% block conteudo %}
    <div class=" col-md-2 offset-md-5 container-fluid">
                <h4 class="card-title text-center">Login</h4>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form }}
                    <button type="submit" class="sub-login btn  btn-block">Entrar</button>
                </form>
    </div>
{% endblock %}
