.container-fluid {
    padding: 0;
}

/* navbar */

.nav-title {
    color: #fff;
}
.fas.fa-shopping-cart, .fas.fa-home {
    color: #fff;
    margin-bottom: 0;
}

.titulos {
    color: #5C4033;
}

.fab.fa-java {
    font-size: 30px;
    color: #fff;

}

.navbar {
    margin-bottom: 20px;
    background-color: #5C4033;
}

.navbar-nav {
    margin: auto
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 1px;
}

/* botão de add */

#add-link {
    text-decoration: none;
}


.add-div {
    background-color: #5C4033;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;

}

.fas.fa-plus {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* search */

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
}

.search-div {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* lista de produtos */

.nomes {
    color: #5C4033;
}

.list-div {
    padding: 0;
}

.produto-list {
    padding-left: 0; 
}
.produto-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid #5C4033; 
}


.fas.fa-trash, .fas.fa-edit, .fas.fa-cart-arrow-down {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
    color: rgba(107, 14, 14, 0.829)
}


/* formulario */

.formulario {
    list-style: none; 
}

.btn-sucess {
    background-color: #5C4033;
    cursor: pointer;
    color: #fff;
}

/* rodapé */

footer {
    position: absolute;
    background-color: #5C4033;
    height: 100px;
    bottom: 0;
    width: 100%; 
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top:35%;
    position: relative;
}

/* login */

.box {
    margin-top: 100px;
}

.sub-login {
    width: 100px;
    background-color: #5C4033;
    color: #fff;
    margin-left: 60px;
    margin-top: 20px;
}

.fas.fa-power-off {
    color: #fff;
}

/* pedido */

.fas.fa-dollar-sign {
    margin: 5px;
    font-size: 20px;
    float: right;
    color: rgba(107, 14, 14, 0.829)
}